.modal.question {
    margin: 50px 10px;
    padding: 10px 30px;
    border-radius: 10px;
}

.question_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.question_column{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: large;
    font-weight: bolder;
    flex:1 0 calc(50% - 20px);
    box-sizing: border-box;
    min-height: 50px;
    cursor: pointer;
    margin: 5px;
    background-color: lightgrey;
    border-radius: 5px;
}

.question_column:hover{
    background-color: dimgrey;
    color: white;
}