.grid {
    display: flex;
    height: 40vh;
    gap: 15px;
    border-bottom: 4px solid black;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.card_container {
    gap: 10px;
}
.row {
    border: 1px solid black;
    cursor: pointer;
}

.card{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
}

.card.seen {
    background-color: grey;
    cursor: auto;
    color: white;
}